<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings >
    <add  key ="ips" value ="ip1:port1、ip2:port2"/>
    <!--<add key ="port" value ="8000"/>-->
    <add key ="UserName" value ="xxx"/>
    <add key ="Password" value ="yyy"/>
  </appSettings>
</configuration>